version: '3.7'
services:
  service1:
    image: aaboungab/service-1:s1
    deploy:
      replicas: 3
    ports:
    - target: 5000
      published: 5000
      protocol: tcp
  service2:
    image: aaboungab/service-2:s2
    deploy:
      replicas: 3
    ports:
    - target: 5000
      protocol: tcp
